

  <div class="row">
    <div class="col-md-5" id="input-section">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <br>
    <div class="col-md-6" id="output-section">
      <ul>
          <div *ngFor='let quote of quotes;let i=index'>
              <li >{{ quote.quote }}</li>
              <br>
              <app-vote></app-vote>
              <button  class="btn btn-success my-2"(click)='toogleDetails(i)'>Quote Details</button>
              <app-quote-details *ngIf="quote.showAuthor" [quote]='quote'(isComplete)= 'deleteQuote($event,i)' ></app-quote-details>
              <hr>
          </div>

      </ul>

    </div>

  </div>

<br>
