*{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color:white;
}
ul li {
  font-style: italic;
  /* background: url(src/assets/qr.png) no-repeat left center; */
}
#input-section{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/bg6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
  padding:20px;
  border:2px solid white;
  margin:2%;
  border-radius:30px;
}
#output-section{
  background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/bb2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position:left;  */
  height:900px;
  padding:38px;
  margin:2%;
  border-radius:30px;
}
